<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FarFetched.Workflow.Demo.APISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FarFetched.Workflow.Demo.APISettings>
            <setting name="RottenTomatoesKey" serializeAs="String">
                <value>qnaz45gef9gne76fm8uqkb2n</value>
            </setting>
        </FarFetched.Workflow.Demo.APISettings>
    </userSettings>
</configuration>